@charset "UTF-8";

.mae{
    text-align: center;
}

.story, .foto13{
    width: 224px;
    height: 400px;
    border: 2px solid black;
    background-size: cover;
    background-position: center center;
    display: inline-block;
    margin: 13px;
}

#s1{
    background-image: url("imagens/1.jpg");
    
}

#s2{
    background-image: url("imagens/2.jpg");
}

#s3{
    background-image: url("imagens/3.jpg");
}

#s4{
    background-image: url("imagens/4.jpg");
}

#s5{
    background-image: url("imagens/5.jpg");
}

#s6{
    background-image: url("imagens/6.jpg");
}

#s7{
    background-image: url("imagens/7.jpg");
}

#s8{
    background-image: url("imagens/8.jpg");
}

#s9{
    background-image: url("imagens/9.jpg");
}

#s10{
    background-image: url("imagens/10.jpg");
}

#s11{
    background-image: url("imagens/11.jpg");
}

#s12{
    background-image: url("imagens/12.jpg");
}

#s13{
    background-image: url("imagens/13.jpg");
}

#s14{
    background-image: url("imagens/14.jpg");
}

#s15{
    background-image: url("imagens/15.jpg");
}


#s16{
    background-image: url("imagens/16.jpg");
    
}

#s17{
    background-image: url("imagens/17.jpg");
}

#s18{
    background-image: url("imagens/18.jpg");
}

#s19{
    background-image: url("imagens/19.jpg");
}

#s20{
    background-image: url("imagens/20.jpg");
}

#s21{
    background-image: url("imagens/21.jpg");
}

#s22{
    background-image: url("imagens/22.jpg");
}

#s23{
    background-image: url("imagens/23.jpg");
}

#s24{
    background-image: url("imagens/24.jpg");
}

#s25{
    background-image: url("imagens/25.jpg");
}

#s26{
    background-image: url("imagens/26.jpg");
}

#s27{
    background-image: url("imagens/27.jpg");
}

#s28{
    background-image: url("imagens/28.jpg");
}

#s29{
    background-image: url("imagens/29.jpg");
}

#s30{
    background-image: url("imagens/30.jpg");
}

#s31{
    background-image: url("imagens/31.jpg");
}

#s32{
    background-image: url("imagens/32.jpg");
}

#s33{
    background-image: url("imagens/33.jpg");
}




